<app-alert></app-alert>
<div class="block-edit-password" [@animations] >
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="error-block"
         *ngIf="auth.error$ | async as error">
      <!--   фильтр для асинхронных данных (в переменную записываются данные, которые потом показываем)  -->
      <small class="alert-error-text">{{error}}</small>
      <!--      <span (click)="clearForm()"><i class="material-icons icon-clearForm">autorenew</i></span>-->
    </div>
    <div class="input-position" [ngClass]="{invalid: submitted && f.password.errors} ">
      <input class="form-input" id="password" type="password" required formControlName="password">
      <label class="form-label" for="password">Password</label>
      <div class="validation" *ngIf="submitted && f.password.errors">
        <small *ngIf="f.password.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.password.errors.minlength">
          Пароль должен содержать не менее
          {{form.get('password').errors.minlength["requiredLength"]}}
          / {{form.get('password').errors.minlength["actualLength"]}}
        </small>
      </div>
    </div>
    <div class="input-position" [ngClass]="{invalid: submitted && f.confirmPassword.errors} ">
      <input class="form-input" id="password2" type="password" required formControlName="confirmPassword">
      <label class="form-label" for="password2">Password</label>
      <div class="validation" *ngIf="submitted && f.confirmPassword.errors">
        <small *ngIf="f.confirmPassword.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.confirmPassword.errors.mustMatch">
          Пароли не совпадают
        </small>
      </div>
    </div>
    <button class="btn" type="submit">Изменить</button>
  </form>
</div>
