.alert-wrap {
  position: fixed;
  top: 84px;
  right: 14px;
  .alert-success {
    background: rgb(0, 0, 0, 0.6);
    padding: 10px 20px;

    font-size: 15px;
    color: var(--header-logo-color);
  }

  .alert-warning {
    background: #dc3545;
    padding: 10px 20px;
    font-size: 15px;
    color: var(--header-logo-color);

  }

  .alert-danger {
    background: chocolate;
    padding: 10px 20px;

    font-size: 15px;
    color: var(--header-logo-color);

  }
}



@media all and (max-width: 700px) {
  .alert-wrap {
    position: fixed;
    top: 62px;
  }
}
