<app-alert></app-alert>
<ngx-spinner name="spinner" ></ngx-spinner>
<div class="block-admin">
  <form class="content-login" [formGroup]="form" (ngSubmit)="submit()">
    <h4 class="title">Вход в систему администратора</h4>
    <div class="input-position" [ngClass]="{invalid: submitted && f.email.errors }">
      <input class="form-input" id="email" type="text" required formControlName="email">
      <label class="form-label" for="email">Email</label>
      <div class="validation" *ngIf="submitted && f.email.errors">
        <small *ngIf="f.email.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.email.errors.email">Введите правельный email </small>
      </div>
    </div>
    <div class="input-position" [ngClass]="{invalid: submitted && f.password.errors} ">
      <input class="form-input" id="password" type="password" required formControlName="password">
      <label class="form-label" for="password">Password</label>
      <div class="validation" *ngIf="submitted && f.password.errors">
        <small *ngIf="f.password.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.password.errors.minlength">
          Пароль должен содержать не менее
          {{f.password.errors.minlength["requiredLength"]}}
          / {{f.password.errors.minlength["actualLength"]}}</small>
      </div>
    </div>
    <div class="block-btn-login">
      <button class="btn" type="submit"> Войти</button>
    </div>

  </form>
</div>
