.positions-block-login {
  form {
    max-width: 600px;
    margin: 10px auto;

    .title {
      margin: 10px 5px 10px 5px;
      font-size: 17px;
      color: var(--header-background-color);
    }

    .input-position {
      margin: 10px 5px 10px 5px;
      max-width: 400px;
      .form-input {
      }
    }
  }


}
