<div class="backToMenu">
  <span class="btn" routerLink="/"><i class="material-icons icon-back">chevron_left</i> Назад</span>
</div>
<div class="positions-block-login">
  <form class="content-login" [formGroup]="form" (ngSubmit)="submit()">
    <div class="error-block" *ngIf="errorMassageAuthUser">
      <span class="alert-error-text">{{errorMassageAuthUser}}</span>
    </div>
    <div class="error-block" *ngIf="errorText">
      <span class="alert-error-text">{{errorText}}</span>
    </div>
    <div class="error-block"
         *ngIf="auth.error$ | async as error">
      <!--   фильтр для асинхронных данных (в переменную записываются данные, которые потом показываем)  -->
      <small class="alert-error-text">{{error}}</small>
    </div>
    <h4 class="title">Вход в систему</h4>
    <div class="input-position" [ngClass]="{invalid: submitted && f.email.errors }">
      <input class="form-input" id="email" type="text" required formControlName="email">
      <label class="form-label" for="email">Email</label>
      <div class="validation" *ngIf="submitted && f.email.errors">
        <small *ngIf="f.email.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.email.errors.email">Введите правельный email </small>
      </div>
    </div>
    <div class="input-position" [ngClass]="{invalid: submitted && f.password.errors} ">
      <input class="form-input" id="password" type="password" required formControlName="password">
      <label class="form-label" for="password">Password</label>
      <div class="validation" *ngIf="submitted && f.password.errors">
        <small *ngIf="f.password.errors.required">Поле не должно быть пустым</small>
        <small *ngIf="f.password.errors.minlength">
          Пароль должен содержать не менее
          {{f.password.errors.minlength["requiredLength"]}}
          / {{f.password.errors.minlength["actualLength"]}}</small>
      </div>
    </div>
    <div class="block-btn-login">
      <button class="btn" type="submit"> Войти</button>
    </div>
  </form>
</div>

